* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    border:0;
}

body{
    background-color: #d1d2d3;
}
.form-container {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.form-header {
    border-bottom: 1px solid #ebe1e1;
    padding: 10px;
}
.form-body {
    padding: 20px;
}
.form-group {
    margin-top: 20px;
    animation: my_scroll_fade linear both;

    /* make scroll view */
    animation-timeline: view();

    /* range entry */
    animation-range: entry 50% cover 50%;
}
.group {
    padding: 8px;
}
input[type='radio'] {
    /* change size of radio */
    transform: scale(2);
    margin-right: 10px;

    /* color select inside radio */
    accent-color: rgb(255, 0, 115);
    cursor: pointer;

    /* change text color when click on radio */
    pointer-events: fill;
}

 /* change text color when click on radio */
input[type='radio']:checked  ~ label {
    color: rgb(255, 0, 115);
}

input[type='date'] {
    border:1px solid #ebe1e1;
    padding: 10px;
    width: 50%
}
h3 {
    margin-bottom: 10px;
}



/* Scroll animation */

@keyframes my_scroll_fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}